page-bible-options {
    ion-select{
        background-color:  #fbff00;
        max-width: 100% !important;
        border: solid 1px #fbff00;
        border-radius: 8px;
        text-align: center;
        
    }

    .select-icon{
        display: none;
    }

    ion-option{
        width: 100% !important;
        
    }

    

}
