
<ion-content>

  <img src="../../assets/imgs/note-it landscape.png">
  <br>
  <br>
  <div padding>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
      <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email"
      placeholder="Your email address"
      [class.invalid]="!loginForm.controls.email.valid && blur">
      </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
      loginForm.controls.email.touched">
      <p>Please enter a valid email address.</p>
      </ion-item>
      <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password"
      placeholder="Your password"
      [class.invalid]="!loginForm.controls.password.valid && blur">
      </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid
      && loginForm.controls.password.touched">
      <p>Your password needs more than 6 characters.</p>
      </ion-item>
      <button ion-button block type="submit" [disabled]="!loginForm.valid">
      Log In
      </button>
      </form>
      <button ion-button block clear (click)="goToSignup()">
      Create a new account
      </button>
      <button ion-button block clear (click)="goToResetPassword()">
      I forgot my password :(
      </button>
    </div>
  <!--
  <div padding>
      <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="useremail" type="email" placeholder="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="userpassword" type="password" placeholder="Password" required></ion-input>
          </ion-item>
        </ion-list>
        <br>
        <button (click)="signUp(useremail, userpassword)" color="dark" ion-button icon-start full>
            <ion-icon icon-start ios="ios-power" md="md-power"></ion-icon>
           Sign in
        </button>
  </div>
  <br>
  <hr>
  <div padding>
      <ion-label>Or Sing in with</ion-label>
    <ion-row>
      <ion-col>
          <button color="google" ion-button icon-start>
              <ion-icon icon-start ios="logo-google" md="logo-google"></ion-icon>
              Gmail 
            </button>
      </ion-col>
      <ion-col>
          <button color="facebook" ion-button icon-start>
              <ion-icon  icon-start  ios="logo-facebook" md="logo-facebook"></ion-icon>            
              Facebook
            </button>
      </ion-col>
    </ion-row>
  </div>-->

</ion-content>
