<!-- Generated template for the TextEditorComponent component -->
<div>
  <span>
    <button ion-button clear>
        <ion-icon (click)="makeList()" color="dark" name="noteit-list"></ion-icon>
    </button>
  </span>
  <span>
      <button ion-button clear>
          <ion-icon (click)="makeBold()" color="dark" name="noteit-bold"></ion-icon>
      </button>
    </span>
    <span>
      <button (click)="makeItalic()" ion-button clear>
        <ion-icon color="dark" name="noteit-italic"></ion-icon>
      </button>
    </span>
    <span>
      <button (click)="makeUderline()" ion-button clear>
        <ion-icon color="dark" name="noteit-underline"></ion-icon>
      </button>
    </span>
  
  <!--<ion-row>
    <ion-col>
      <button ion-item>
        <ion-icon name="star"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-item>
        <ion-icon name="star"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-item>
        <ion-icon name="star"></ion-icon>
      </button>
    </ion-col>
  </ion-row>-->
</div>
